extends layout

block content
    div.row
        div.col-lg-12
            h1.page-header Add New Device
    div.row
        div.col-lg-12
            form(action="/devices/add", method="post")
                if errors !== undefined
                    div.alert.alert-warning
                        each error in errors
                            #{error.msg}
                            br

                div.form-group
                    h3 General Info
                div.form-group
                    label(for="name") Device Name
                    input.form-control#name(placeholder="Name")
                div.form-group
                    label(for="type") Device Type
                    input.form-control#type(placeholder="Type")
                br

                div.form-group
                    h3 Location Information
                div.form-group
                    label(for="buildingName") Building Name
                    select.form-control#buildingName
                        option(value=null) Please select a building
                        each building in buildings
                            option(value="#{building.id}") #{building.number} #{building.name}
                div.form-group
                    label(for="room") Room Number
                    input.form-control#room(placeholder="Room")
                br
                div.pull-right
                    button.btn.btn-primary(type="submit") Submit
