extends layout
include ./mixins/table

block content
    div.row
        div.col-lg-12
            button.btn.btn-primary.pull-right.header-button(onclick="window.location.href = '/devices/add';")
                i.fa.fa-plus
                    span.label Add Device
            h1.page-header Manage Device
    div.row
        div.col-lg-12
            table.table.table-striped.table-bordered.table-hover#dataTables-example(width="100%")
                +tableHeaders(['Title', 'Location', 'Status', 'Actions'])
                tbody
                    each device, index in devices
                        tr
                            td=device.name
                            td="Building " + device.building + " Room " + device.room
                            td
                                if device.status == undefined
                                    | available
                                else
                                    span=device.status
                            td.button-actions
                                if device.status !== "checked out"
                                    a.addToCart(data-id="#{index}")
                                        i.fa.fa-cart-plus.fa-lg
                                a(href="/devices/update/#{index}")
                                    i.fa.fa-edit.fa-lg
                                a(href="/devices/remove/#{index}")
                                    i.fa.fa-times.fa-lg
                                a(href="/devices/details/#{index}")
                                    i.fa.fa-arrow-circle-right.fa-lg

block javascript
    script(src="/javascripts/devices.js")
