extends layout
include ./mixins/table

block content
    div.row
        div.col-lg-12
            button.btn.btn-primary.pull-right.header-button(onclick="add user")
                i.fa.fa-plus
                    span.label Add User
            h1.page-header Manage Users

    // TODO: convert to mixin


    for group, index in groups
        div.row
            div.col-lg-12
                div.panel.panel-default
                    div.panel-heading=index
                    div.panel-body
                        table.table.table-striped.table-bordered.table-hover#dataTables-super-admin(width="100%")
                            +tableHeaders(['User', 'Actions'])
                            tbody
                                tr
                                    for val, user in group
                                        td=user
                                        td.button-actions
                                            a(href="/users/groups/assignments/update/#{user}")
                                                i.fa.fa-edit.fa-lg
                                            a(href="/users/groups/assignments/remove/#{user}")
                                                i.fa.fa-times.fa-lg
                                            a(href="/users/groups/assignment/details/#{user}")
                                                i.fa.fa-arrow-circle-right.fa-lg
