extends layout

block content
    div.row
        div.col-lg-12
            h1.page-header Failed Attempts

    div.row
        div.panel-body
            ul.timeline
              - var i = 1;
               each checkout in checkouts
                   if i % 2 == 0
                       li.timeline-inverted
                           div.timeline-badge.warning
                               i.fa.fa-exclamation-triangle
                           div.timeline-panel
                               div.timeline-heading
                                   h4.timeline-title Unauthorized Attempt
                                   p
                                       small.text-muted
                                           i.fa.fa-clock-o
                                            |  #{moment(timestamp).format('MM/DD/YY')}
                                    hr
                               div.timeline-body
                                   strong= checkout.user
                                   |  attempted to checkout&nbsp;
                                   strong= checkout.device
                                   |  from the equipment rental room.
                                   br
                   else
                        li
                           div.timeline-badge.warning
                               i.fa.fa-exclamation-triangle
                           div.timeline-panel
                               div.timeline-heading
                                   h4.timeline-title Unauthorized Attempt
                                   p
                                       small.text-muted
                                           i.fa.fa-clock-o
                                           |  #{moment(timestamp).format('MM/DD/YY')}
                                   hr
                               div.timeline-body
                                   strong= checkout.user
                                   |  attempted to checkout&nbsp;
                                   strong= checkout.device
                                   |  from the equipment rental room.
                                   br
                    - i++
