extends layout
include ./mixins/table

block content
    div.row
        div.col-lg-12
            button.btn.btn-primary.pull-right.header-button(onclick="window.location.href = '/users/rfid/add';")
                i.fa.fa-plus
                    span.label Add RFID
            h1.page-header Manage RFID Access
    div.row
        div.col-lg-12
            table.table.table-striped.table-bordered.table-hover#dataTables-example(width="100%")
                +tableHeaders(['RFID', 'Name', 'Username', 'Email', 'Actions'])
                tbody
                    each user, index in users
                        tr
                            // index is the RFID id
                            td=index
                            td=user.name
                            td=user.username
                            td=user.email
                            td.button-actions
                                a(href="#")
                                    i.fa.fa-edit.fa-lg
                                a(href="#")
                                    i.fa.fa-times.fa-lg
                                a(href="/#{prefix}/details/#{index}")
                                    i.fa.fa-arrow-circle-right.fa-lg
