mixin tableHeaders(headers)
    thead
        tr
            each header in headers
                th= header

mixin userTableRows(rowValues, prefix, exclude)


mixin deviceTableRows(rowValues, prefix)
    each device, index in rowValues
        tr
            td=device.name
            td=device.type
            td=device.location.building + " Room " + device.location.room
            td=""
            td.button-actions
                a(href="#")
                    i.fa.fa-edit.fa-lg
                a(href="#")
                    i.fa.fa-times.fa-lg
                a(href="/#{prefix}/details/#{index}")
                    i.fa.fa-arrow-circle-right.fa-lg
